
PMS_UIKit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

PMS_UIKit.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

PMS_UIKit.xcodeproj/project.xcworkspace/xcuserdata/gyfolders.xcuserdatad/WorkspaceSettings.xcsettings
